:root{
    --mainColor:#48344e;
    --secondaryColor: #3b2a3f;
    --manText: #fff;
    --secondaryText: #eeee;
    --borderColor: #1d1520;
    --themeBorder: #fff;
    --previewBg:  rgb(29,21,32, 0.8);
    --previewShadow: #2b202f;
    --boxShadow:  -1px 1px 3px -1px rgba(0, 0, 0, .75);
}