<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jafar Idris | 404 page</title>
    <link rel="shortcut icon" href="{{ static_url('imgs/icon.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ static_url('css/default.min.css') }}">

    <link id="theme-style" rel="stylesheet" href="">

    <script src="{{ static_url('js/script.js') }}" defer></script>
    <script src="{{ static_url('js/highlighter.js') }}" ></script>
</head>

<body>
    <section class="s1">
        <div class="main-container">

            <div class="greeting-wrapper">
                <h1>404 | page Not Found</h1>
            </div>
            {% include 'components/nav.html' %}
        </div>
    </section>

    {% include 'components/footer.html' %}
    <script>
        const themeDots = document.querySelectorAll('.theme-dot')

        theme = localStorage.getItem('tesla-site-theme')
        if (theme) {
            setTheme(theme)
        }

        ;
        [...themeDots].forEach(dot => {
            dot.addEventListener('click', () => {
                let mode = dot.dataset.mode
                setTheme(mode)
            })
        })


        function setTheme(mode) {
            localStorage.setItem('tesla-site-theme', mode)
            let themeStyle = document.getElementById('theme-style')
            themeStyle.href = `{{ static_url('css/${mode}.css') }}`


        }
        const highlighter = new Highligter(['[nav]', '[links]', '[wall]'],['place to change your theme','navigate the site here', 'this is my picture...'])
        if(!localStorage.getItem('highlight')){
            window.addEventListener('scroll', ()=> highlighter.update())
            highlighter.start()
        }
    </script>
</body>

</html>