<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jafar</title>
    <link rel="stylesheet" href="{{ static_url('css/default.css') }}">

    <link id="theme-style" rel="stylesheet" href="">

    <script src="{{ static_url('js/script.js') }}" defer></script>
</head>
<body>

    <section class="s1">
        <div class="main-container">
            
            <div class="greeting-wrapper">
                <h1>Hey! i'm Jafar Tesla</h1>
            </div>
          {% include 'components/nav.html' %}
        </div>
    </section>

    <section class="s2">
        <div class="main-container">
        <p>
            API links about me. 
        </p>
        <p><code class="link-code"><span>/api_v1/info </span><a href="/api_v1/info" target="_blank">visit</a><button>copy</button></code></p>
        <p>links for my social accounts.</p>

        <p><code class="link-code"><span>/api_v1/about </span><a href="/api_v1/about" target="_blank">visit</a><button>copy</button></code></p>
        <p>a brief about me.</p>

        <p><code class="link-code"><span>/api_v1/skills </span><a href="/api_v1/skills" target="_blank">visit</a><button>copy</button></code></p>
        <p>languages, frameworks ... which i can work with.</p>
        </div>
    </section>

    {% include 'components/footer.html' %}
<script>
    
const themeDots = document.querySelectorAll('.theme-dot')

theme = localStorage.getItem('tesla-site-theme')
if(theme){
    setTheme(theme)
}

;[...themeDots].forEach(dot => {
    dot.addEventListener('click', () => {
        let mode = dot.dataset.mode
        setTheme(mode)
    })
})


function setTheme(mode){
    localStorage.setItem('tesla-site-theme', mode)
     let themeStyle = document.getElementById('theme-style')
     themeStyle.href = `{{ static_url('css/${mode}.css') }}`
     console.log(themeStyle)

}
</script>
</body>
</html>