<div class="intro-wrapper" id="wa">
    <div class="nav-wrapper" id="nav">
        <div class="dots-wrapper" nav>
            <div data-mode="light" id="light-mode" class="dot theme-dot"></div>
            <div data-mode="blue"  id="blue-mode" class="dot theme-dot"></div>
            <div data-mode="green"  id="green-mode" class="dot theme-dot"></div>
            <div class="theme-desc">theme changer</div>
            
        </div>
        <ul id="navigation" links>
          
                <li>
                    <a href="/">Index</a>
                </li>
                <li>
                    <a href="/api">Api</a>
                </li>
                <li>
                    <a href="/editor">Editor</a>
                </li>
            
        </ul>
    </div>
    <div class="wall" wall>
        <img src="{{ static_url('imgs/_MG_9758.jpg') }}" alt="">
        <p>self-taught software developer with zero years of working experience, hoping you will give me chance to gain some experience...</p>
    </div>
    
</div>